.custom-navbar {
    background: #4B4B4B;
    margin-bottom: 0;
}
.custom-navbar .nav li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}
.custom-navbar .nav li a:hover {
    background: transparent;
    color: #eeeeee;
}
.custom-navbar .nav > li > a:focus {
    background-color: transparent;
    color: #ffffff;
    outline: none;
}
.custom-navbar .nav li.active > a {
    color: #00c6d7;
}
.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}
.custom-navbar .navbar-toggle .icon-bar {
    background: #00c6d7;
    border-color: transparent;
}
@media(min-width:768px){
    .custom-navbar {
        background: #4B4B4B;
        padding: 10px;
        border-bottom: 0;
        background: 0 0;
    }
    .custom-navbar.top-nav-collapse {
        padding: 8px;
        background: #4B4B4B;
    }
}
